In [3]:
import json
import pandas as pd
import os

In [6]:
PATH = "../../collected_data/pilot_merged/game_logs/"

In [7]:
dfs = []
dicts = []
for file in sorted(os.listdir(PATH)):
    if not file.startswith('.'):
        with open(PATH + file, 'r') as f:
            data = json.loads(f.read())
        df = pd.json_normalize(data, record_path = ['frames'])
        s_df = pd.DataFrame()
        s_df = {'player_id': data['player_id'],
                'mode': data['mode'],
                'up_count': df.loc[df['signal_up'] == True].shape[0],
                'down_count': df.loc[df['signal_down'] == True].shape[0]}
        dicts.append(s_df)
                
        print('loading: {} mode{}'.format(data['player_id'], data['mode']))

loading: 5ee6d2494fd04045b988a12d mode1
loading: 5ee6d2494fd04045b988a12d mode2
loading: 5ef33c05f4c5240413ef9ac2 mode1
loading: 5ef33c05f4c5240413ef9ac2 mode2
loading: 5fc9a415aacaf14df94e6868 mode1
loading: 5fc9a415aacaf14df94e6868 mode2
loading: 6081c511ded5945d9b70801e mode1
loading: 6081c511ded5945d9b70801e mode2
loading: 60d520539b147c4acaf44b77 mode1
loading: 60d520539b147c4acaf44b77 mode2
loading: 60e5e62659dc1912bc43ed35 mode1
loading: 60e5e62659dc1912bc43ed35 mode2
loading: 60e7a66b2cb32cc90fade4e6 mode1
loading: 60e7a66b2cb32cc90fade4e6 mode2
loading: 60e9e9618953d7a3430dd8f6 mode1
loading: 60e9e9618953d7a3430dd8f6 mode2
loading: 60edb7015a9231789057bdea mode1
loading: 60edb7015a9231789057bdea mode2
loading: 60fdbe65ebde43c719f0a07c mode1
loading: 60fdbe65ebde43c719f0a07c mode2
loading: 60feed8e976bc867f41f91f8 mode1
loading: 60feed8e976bc867f41f91f8 mode2
loading: 61017fa8773be3bcfb745b82 mode1
loading: 61017fa8773be3bcfb745b82 mode2
loading: 6107f6bdc8e5d4c5b8daf4c1 mode1
loading: 6107f6bdc8e5d4c5b8daf4c1 mode2
loading: 6107f8f9c8d6e8a294ff1dd6 mode1
loading: 6107f8f9c8d6e8a294ff1dd6 mode2
loading: 610837720098e4d537f6d50b mode1
loading: 610837720098e4d537f6d50b mode2
loading: 61083d0cd5238a0405e40d81 mode1
loading: 61083d0cd5238a0405e40d81 mode2
loading: 61084126f133c28acb14c15b mode1
loading: 61084126f133c28acb14c15b mode2
loading: 6108444b19662154fc782bb5 mode1
loading: 6108444b19662154fc782bb5 mode2
loading: 61084b29eaf447617f3bf4a3 mode1
loading: 61084b29eaf447617f3bf4a3 mode2
loading: 6108519b1b1796459ad36a47 mode1
loading: 6108519b1b1796459ad36a47 mode2
loading: 6108528ed0f643feda6a8bc5 mode1
loading: 6108528ed0f643feda6a8bc5 mode2
loading: 61085d9d4bbc4cf358dfb1d7 mode1
loading: 61085d9d4bbc4cf358dfb1d7 mode2
loading: 6108969a42b2e1738ca05309 mode1
loading: 6108969a42b2e1738ca05309 mode2
loading: 6108a9fa94f1d9dbdcb0d322 mode1
loading: 6108a9fa94f1d9dbdcb0d322 mode2
loading: 6108ac76f73dfaf3c27db5b9 mode1
loading: 6108ac76f73dfaf3c27db5b9 mode2
loading: 6108c66b12dd5a199f12a937 mode1
loading: 6108c66b12dd5a199f12a937 mode2
loading: 61096ca0999b16524e70304f mode1
loading: 61096ca0999b16524e70304f mode2
loading: 6109746d0c492f63aca8cddd mode1
loading: 6109746d0c492f63aca8cddd mode2
loading: 610999778e6142549b918cce mode1
loading: 610999778e6142549b918cce mode2
loading: 6109b06dfa1c2030742239ec mode1
loading: 6109b06dfa1c2030742239ec mode2
loading: 6109bd0d694d2a4ea75bacf1 mode1
loading: 6109bd0d694d2a4ea75bacf1 mode2
loading: 6109bd72fa4cdd8f9585cc43 mode1
loading: 6109bd72fa4cdd8f9585cc43 mode2
loading: 6109c3a7a0e6d2a434e2fd60 mode1
loading: 6109c3a7a0e6d2a434e2fd60 mode2
loading: 610a58b6c0de3eaaf1c566a2 mode1
loading: 610a58b6c0de3eaaf1c566a2 mode2
loading: 610ad8111e76c155f89fa26d mode1
loading: 610ad8111e76c155f89fa26d mode2
loading: 610ae121a29b11dc55916f3e mode1
loading: 610ae121a29b11dc55916f3e mode2
loading: 610ae91ba2b28abc2bfdb685 mode1
loading: 610ae91ba2b28abc2bfdb685 mode2
loading: 610aebd03f7daffc2fcce4b9 mode1
loading: 610aebd03f7daffc2fcce4b9 mode2

In [7]:
dfs[0]

Empty DataFrame
Columns: [player_id, mode, up_count, down_count]
Index: []

In [5]:
# dfs[1]

In [6]:
# dfs[2]

In [7]:
# dfs[3]

In [8]:
# dfs[4]

In [9]:
# dfs[5]

In [10]:
# dfs[6]

In [11]:
# dfs[7]

In [9]:
signals = pd.DataFrame(dicts)
signals.head()
signals.to_csv('signal_counts_all.csv')

In [43]:
cross_d = pd.crosstab(index=signals['down_count'], columns=['count'],
#                              columns=df_down["found_by"],
                             margins=True)
cross_d

col_0       count  All
down_count
0              33   33
1              12   12
2              11   11
3               3    3
4               1    1
All            60   60

In [45]:
cross_up = pd.crosstab(index=signals['up_count'], columns=['count'],
#                              columns=df_down["found_by"],
                             margins=True)
cross_up

col_0     count  All
up_count
0            11   11
1             9    9
2            11   11
3             4    4
4             9    9
5             5    5
6             3    3
7             5    5
8             1    1
9             1    1
17            1    1
All          60   60

In [26]:
m1 = signals.loc[signals['mode'] == 1]
m2 = signals.loc[signals['mode'] == 2]

In [22]:
signals.loc[signals['down_count'] == 0].shape[0]

33

In [33]:
signals.loc[signals['up_count'] == 0].shape[0]

11

In [31]:
m1.loc[signals['down_count'] == 0].shape[0]

14

In [35]:
m1.loc[signals['up_count'] == 0].shape[0]

5

In [32]:
m2.loc[signals['down_count'] == 0].shape[0]

19

In [36]:
m2.loc[signals['up_count'] == 0].shape[0]

6

In [48]:
signal_count_sum['down_count'].sum()

47

In [49]:
signal_count_sum['up_count'].sum()

191

In [13]:
d.loc[d['signal_down'],['signal_type']] = 'down'
d.loc[d['signal_up'],['signal_type']] = 'up'

In [14]:
final_signals_data = d[['player_id', 'mode', 'signal_type', 'frame_number']]
final_signals_data.to_csv('signals_pilot3.csv', index=False)

In [15]:
final_signals_data

                     player_id  mode signal_type  frame_number
371   5fc9a415aacaf14df94e6868     1          up           371
599   5fc9a415aacaf14df94e6868     1        down           599
1211  5fc9a415aacaf14df94e6868     1        down          1211
2028  5fc9a415aacaf14df94e6868     1          up          2028
636   5fc9a415aacaf14df94e6868     2          up           636
...                        ...   ...         ...           ...
434   610aebd03f7daffc2fcce4b9     2          up           434
536   610aebd03f7daffc2fcce4b9     2          up           536
1204  610aebd03f7daffc2fcce4b9     2          up          1204
1952  610aebd03f7daffc2fcce4b9     2          up          1952
2186  610aebd03f7daffc2fcce4b9     2          up          2186

[238 rows x 4 columns]